# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.tfvars

# System files
.DS_Store
*.log

# SSH keys
**/*.pem
**/*.key
.venv
**/.venv
*.env
**/.env
**/.env.local
